<div class="row">
  <div class="col-6 col-md-4 col-lg-3">
    <img src="{{info.front}}" class="body_img">
    <p class="label text-center">{{'BODY.front' | translate}}</p>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <img src="{{info.back}}" class="body_img">
    <p class="label text-center">{{'BODY.back' | translate}}</p>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <img src="{{info.right}}" class="body_img">
    <p class="label text-center">{{'BODY.right' | translate}}</p>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <img src="{{info.left}}" class="body_img">
    <p class="label text-center">{{'BODY.left' | translate}}</p>
  </div>
</div>
