<div class="row">
  <div class="col-6 col-md-4 col-lg-3">
    <img src="{{info.front? info.front : '../../../../../assets/images/noImage.png'}}" class="body_img">
    <p class="label text-center">{{'BODY.front' | translate}}</p>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <img src="{{info.back ? info.back : '../../../../../assets/images/noImage.png'}}" class="body_img">
    <p class="label text-center">{{'BODY.back' | translate}}</p>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <img src="{{info.right ? info.right : '../../../../../assets/images/noImage.png'}}" class="body_img">
    <p class="label text-center">{{'BODY.right' | translate}}</p>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <img src="{{info.left ? info.left : '../../../../../assets/images/noImage.png'}}" class="body_img">
    <p class="label text-center">{{'BODY.left' | translate}}</p>
  </div>
</div>
