<section class="content">
  <header class="page-header">
    <h1 class="title">
      {{'DIETPLAN.table' | translate}}
    </h1>
    <span>

      <button class="mx-2" mat-raised-button color="primary"
        (click)="dialogSrv.openDietplanTempDialog()">{{'DIETPLAN.add-templete' |
        translate}}</button>
    </span>
  </header>
  <div class="body scroll">
    <table datatable [dtOptions]="dtOptions" class="table-theme-1 hover">
      <thead class="text-center">
        <tr>
          <th>#</th>
          <th>{{'FORM.name' | translate}}</th>
          <th>{{'DIETPLAN.total-calories' | translate}}</th>
          <th>{{'DIETPLAN.protein-percentage' | translate}}</th>
          <th>{{'DIETPLAN.carp-percentage' | translate}}</th>
          <th>{{'DIETPLAN.fat-percentage' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let cat of dietPlanArr; let i = index">
          <td>{{i + 1 }}</td>
          <td>{{cat.name}}</td>
          <td>{{cat.calories}}</td>
          <td>{{cat.protein}}</td>
          <td>{{cat.carp}}</td>
          <td>{{cat.fat}}</td>
          <td class="text-end">
            <span>

              <button mat-icon-button routerLink="{{i+'/view'}}">
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
