<section class="content pt-0">
  <header class="page-header">
    <h1 class="title">
      {{'DIETPLAN.dietplan_' | translate}}
    </h1>
  </header>
  <div class="d-flex ">
    <div class="pdf_container">
      <div class="pdf_wraper">
        <div class=" pdf_file">
          <div>
            <img class="pdf_img" src="../../../../../assets/images/file-pdf.svg">
            <div class="pdf_filename">pdf.البرنامح</div>
          </div>
        </div>
      </div>
      <button mat-button>{{'FORM.download' | translate}}</button>
    </div>
  </div>
</section>
