<section class="content">
  <loader></loader>
  <header class="page-header">
    <h1 class="title">
      {{'SUBSCRIBERS.info' | translate}}
    </h1>
    <span style="align-items: inherit; display: flex;" routerLink="..">
      <button mat-button>
        {{'FORM.back' | translate}}
        <mat-icon color="primary" class="mx-2">arrow_back</mat-icon>
      </button>
    </span>
  </header>
  <header class="nitro-card row mt-3">
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.name' | translate}}"
      [info_item_value]="info.personalData.name">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.start-date' | translate}}"
      info_item_value="{{info.subStartDate | date}}">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.end-date' | translate}}"
      info_item_value="{{info.subEndDate | date}}">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.amount-paid' | translate}}"
      [info_item_value]="info.subAmount">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.subscription-number' | translate}}"
      [info_item_value]="info.subNo">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.status' | translate}}" [is_status]=true
      info_item_value="{{info.subStatus}}">
    </info-item>
  </header>
  <div class="body scroll">

    <mat-accordion #accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title color="primary">
            {{'PERSONAL-DATA.personal-data' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <personal-data [info]="info.personalData" class="mt-3"></personal-data>
        <h2 class="my-5 section-title">
          <mat-label color="primary"> {{'SUBSCRIBERS.joint-sports-health' | translate}}
          </mat-label>
        </h2>
        <sports-health-suber-info [info]="info.subscriber"></sports-health-suber-info>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'BODY.body-measurements-info' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <body-measurements [info]="info.bodyMeasurements" [action]="true"></body-measurements>
        <h2 class="my-5 section-title">
          {{'BODY.pic' | translate}}
        </h2>
        <body-pic-info> </body-pic-info>
        <h2 class="section-title mt-3">{{'DIETPLAN.dietplan' | translate}}</h2>
        <div class="row justify-content-between pb-5">
          <div class="col d-flex" style="align-items: center;">
            <mat-icon *ngIf="info.ditePlan.planName == ''">whatshot</mat-icon>
            <div class="detail" *ngIf="info.ditePlan.planName != ''"> {{info.ditePlan.planName}}</div>
            <span class="detail" *ngIf="info.ditePlan.planName == ''">{{'DIETPLAN.no-plan' | translate}}</span>
          </div>
          <div class="col text-end" *ngIf="info.ditePlan.planName == ''">
            <button mat-raised-button color="primary">
              {{'PROGRAM.add' | translate}}
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <archiving-info [info]="info.archives"></archiving-info>
  </div>
</section>
