<header class="text-center title mb-1 h4 ">{{'TERMS.join-request' | translate}}</header>
<h3 class="text-center section-title  h3">{{'TERMS.hi' | translate}} {{clientInfo.name_ar}}</h3>
<div class="register_form">

  <ngx-slick-carousel class="carousel joining_carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <joining-personal-info (personalInfo)="output($event)" ngxSlickItem></joining-personal-info>
    <joining-health-info (healthInfo)="output($event)" ngxSlickItem></joining-health-info>
    <joining-measuring-method (measuringInfo)=output($event) ngxSlickItem></joining-measuring-method>
    <joining-body-pic-form (bodyPic)="output($event)" ngxSlickItem></joining-body-pic-form>
    <joining-back-info (bankInfo)="output($event)" ngxSlickItem></joining-back-info>
  </ngx-slick-carousel>
  <div class="register_slick_button">
    <!-- [disabled]="!isFormValid" -->
    <button mat-button (click)="next()" *ngIf="caurselPos != 4">{{'FORM.next' |
      translate}}</button>
    <span></span>
    <button mat-button (click)="prev()" *ngIf="caurselPos != 0">{{'FORM.back' | translate}}</button>
  </div>
</div>
