.form_wrapper {
  max-height: 60vh !important;
  height: 60vh !important;
  overflow-x: hidden;
  overflow-y: auto;
  .form-group label {
    color: #adabac;
    font-size: 12px;
  }
}
@media screen and (max-width: 578px) {
  .form_wrapper {
    max-height: 70vh !important;
    height: 100vh !important;

    overflow-y: auto;
  }
}
