<section class="form_wrapper mb-2 scroll register_card">
  <div class="h5 section-title text-center">{{'FORM.bank-info' | translate}}</div>
  <div class="regiser_form row justify-content-center" [formGroup]="bankInfoForm">
    <div class="form-group col-11">
      <label>{{'FORM.bank-name' | translate}}</label>
      <input formControlName="bankName" class="form-control">
    </div>
    <div class="form-group col-11">
      <label>{{'FORM.account-holder-name' | translate}}</label>
      <input formControlName="accountHolder" class="form-control">
    </div>
    <div class="form-group col-11">
      <label>{{'FORM.IBAN' | translate}}</label>
      <input formControlName="iban" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label>{{'FORM.receipt-pic' | translate}}</label>
  </div>
  <div class="upload_file">
    <img src="../../../../../assets/images/uploader.svg" class="uploder_img">
    <!-- <input type="file" #file hidden (change)="selectRecipt($event)"> -->
    <button mat-button class="upload_button">
      {{'SETTINGS.upload-file' | translate}}
    </button>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col text-center ">
      <button mat-raised-button color="primary" [disabled]="bankInfoForm.invalid">{{'FORM.send'| translate}}</button>
    </div>
  </div>
</section>
