<p>diet-plan-edit-details works!</p>
<h1>Calories {{calories}}</h1>
<h1>Protein {{protein}}</h1>
<h1>Carbs {{carbs}}</h1>
<h1>Fat {{fat}}</h1>
<div class="container">
  <div class="diet_plan_table">
    <div class="flex_container">
    <div class="row_title">المدخلات</div>
    <div class="flex_item">500</div>
    <div class="flex_item">500</div>
    <div class="flex_item">500</div>
    <div class="flex_item">500</div>
    <div class="flex_item">500</div>
    <div class="flex_item">500</div>
    <div class="flex_item">500</div>
    </div>

    <div class="flex_container">
      <div class="row_title">المتبقي</div>
      <div class="flex_item">1500</div>
      <div class="flex_item">1500</div>
      <div class="flex_item">1500</div>
      <div class="flex_item">1500</div>
      <div class="flex_item">1500</div>
      <div class="flex_item">1500</div>
      <div class="flex_item">1500</div>
      </div>

      <div class="flex_container titles">
        <div class="flex_item">السعرات الحرارية</div>
        <div class="flex_item">البروتين</div>
        <div class="flex_item">الكارب</div>
        <div class="flex_item">الدهون</div>
        <div class="flex_item">البروتين / جم</div>
        <div class="flex_item">الكارب / جم</div>
        <div class="flex_item">الدهون / جم</div>
        </div>

      <div class="flex_container">
        <div class="flex_item">2000</div>
        <div class="flex_item">1000</div>
        <div class="flex_item">500</div>
        <div class="flex_item">500</div>
        <div class="flex_item">650</div>
        <div class="flex_item">400</div>
        <div class="flex_item">500</div>
        </div>
        <div class="flex_container">
          <div class="flex_item">100%</div>
          <div class="flex_item">50%</div>
          <div class="flex_item">25%</div>
          <div class="flex_item">25%</div>
          <div class="flex_item">&nbsp;</div>
          <div class="flex_item">G</div>
          <div class="flex_item">&nbsp;</div>
          </div>

  </div>
  <div class="content_section">
    <div class="content_title">الجداول الغذائية</div>

    <div class="flex_container titles content_flex">
      <div class="flex_item">اسم الجدول</div>
      <div class="flex_item">عدد الوجبات</div>
      <div class="flex_item">إجمالي السعرات</div>

      <div class="flex_item">
        <button class="button_add">إضافة جدول</button>
      </div>
      </div>
  </div>
</div>
