<div class="container-xl p-0 main" [class.side-menu-close]="isSideMenu">
  <div class="nav_bar">
    <!-- <span></span> -->
    <img
      class="nitro-logo"
      src="

          ../../../assets/images/Logo_blue.svg
     "
    />

    <div class="d-md-flex d-none menu_nav" *ngIf="!isProfile">
      <a class="" routerLink=".">باقات الاشتراك</a>
      <a class="" routerLink=".">ماذا نقدم</a>
      <a class="" routerLink=".">من نحن</a>
      <a class="" routerLink="." (click)="signOut()">{{
        "LANDINGPAGE.sign-out" | translate
      }}</a>
      <a
        routerLink="."
        *ngIf="isLoggedin"
        class="nav-link profile_button"
        [routerLink]="
          identitySrv.userData.groups[0] == 1
            ? '/dashboard/account-settings'
            : identitySrv.userData.groups[0] == 0
            ? '.'
            : '/landing/profile'
        "
        >{{ identitySrv.userData.display_name_ar }}</a
      >
      <a
        *ngIf="!isLoggedin"
        class="nav-link profile_button"
        routerLink="/register/login"
        >إنضم الآن</a
      >
    </div>
    <div class="d-md-flex d-none menu_nav2 menu_nav" *ngIf="isProfile">
      <a class="" routerLink="." (click)="signOut()">{{
        "LANDINGPAGE.sign-out" | translate
      }}</a>
      <a class="" routerLink="/landing">{{ "LANDINGPAGE.home" | translate }}</a>
      <a class="" routerLink=".">{{ identitySrv.userData.display_name_ar }}</a>
    </div>
    <span class="d-md-none d-block nav-icon">
      <button
        mat-icon-button
        (click)="isSideMenu = !isSideMenu"
        [disabled]="isSideMenu"
      >
        <mat-icon class=" {{ isProfile ? 'nav-link-2' : 'white-icon' }}"
          >menu</mat-icon
        >
      </button>
    </span>
  </div>
  <sidebar
    (change)="isSideMenu = $event"
    [isSideMenu]="isSideMenu"
    [isProfile]="isProfile"
    [isLoggedin]="isLoggedin"
    class="d-md-none d-block side-menu-landing"
  ></sidebar>
</div>
