<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="custom-toggler navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" routerLink=".">
            <img class="nitro-logo" src="../../../assets/images/Logo_blue.svg">
        </a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink=".">باقات الاشتراك</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink=".">ماذا نقدم</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink=".">من نحن</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="isLoggedin" class="nav-link profile_button" routerLink=".">MO234</a>
                        <a *ngIf="!isLoggedin" class="nav-link profile_button" routerLink="/register/login">إنضم الآن</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>