<section class="bg-section">
  <app-navbar [isLoggedin]=rt></app-navbar>
  <div class="container">
    <div class="row  position-absolute-mobile" id="place_bottom">
      <div class="col-lg-6 col-12 position-absolute-mobile">
        <div class="hero-img"></div>
      </div>
      <div class="col-lg-6 col-12 slogan position-absolute-mobile">
        <img src="../../../assets/images/slogan.svg" alt="">
        <div *ngIf="rt">
          <h1>أهلاً {{identitySrv.userData.first_name_ar}}</h1>
        </div>
        <div *ngIf="!rt">
          <div class="row justify-content-center mt-5">
            <div class="col col-md-6 col-lg-8">
              <button mat-stroked-button color="primary" class="px-5 mx-1" routerLink="/register/login">
                <span class="text-light">
                  {{'FORM.login' | translate}}
                </span>
              </button>
              <button mat-raised-button color="primary" class="px-5 mx-1" routerLink="/register/sign_up">
                <span>
                  {{'FORM.sign-up' | translate}}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section">
  <h1 class="section_title">من نحن</h1>
  <h1 class="section_subtitle">فهد العمودي</h1>
  <img class="about_image" src="../../../assets/images/muscular-man-lifting-barbell-gym.png" alt="">
  <div class="section_content">
    <div class="about_us">
      <ul class="about_us_ul">
        <li>حاصل على شهادة التدريب الشخصي personal trainer ( ISSA )</li>
        <li>حاصل على شهادة في التغذية الرياضية fitness nutrition ( ISSA )</li>
        <li>خبرة في مجال كمال الاجسام ١٨ سنة</li>
        <li>حاصل على عدة بطولات على مستوى المملكة العربية السعودية</li>
        <li>أشرف على كثير من الابطال الذين حققو العديد من البطولات الدولية الخارجية والبطولات المحلية وكروت الاحتراف
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="services-section">
  <div class="identity_element element_right">
    <img class="dot_element" src="../../../assets/images/dot_image.svg" alt="">
    <img class="dots_element" src="../../../assets/images/dots_image.svg" alt="">
  </div>
  <h1 class="section_title">ماذا نقدم</h1>
  <h1 class="section_subtitle">الخدمات</h1>
  <div class="section_content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="service_item">
            <div class="service_image">
              <img src="../../../assets/images/diet_plans_service.svg" alt="">
            </div>
            <div class="service_title">البرامج الغذائية</div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="service_item">
            <div class="service_image">
              <img src="../../../assets/images/build_muscle_service.svg" alt="">
            </div>
            <div class="service_title">بناء العضلات</div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="service_item">
            <div class="service_image">
              <img src="../../../assets/images/periodic_review_service.svg" alt="">
            </div>
            <div class="service_title">المراجعة الدورية</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="packages-section">
  <h1 class="section_title">باقات الاشتراك</h1>
  <h1 class="section_subtitle">اختر الفئة المناسبة لك</h1>
  <div class="identity_element element_left">
    <img class="dot_element" src="../../../assets/images/dot_image.svg" alt="">
    <img class="dots_element" src="../../../assets/images/dots_image.svg" alt="">
  </div>
  <div class="section_content pb-5">
    <div class="container">
      <div class="row">
        <package-card class="col-12 col-lg-4 col-md-6 mt-3" [package_title]="'باقة الضخامة'" [package_months]="3"
          [package_price]="'120'" [theme_number]="1" [with_button]="true">
        </package-card>

        <package-card class="col-12 col-lg-4 col-md-6 mt-3" [package_title]="'باقة التنشيف'" [package_months]="3"
          [package_price]="'120'" [theme_number]="2" [with_button]="true">
        </package-card>

        <package-card class="col-12 col-lg-4 col-md-6 mt-3" [package_title]="'باقة اللياقة'" [package_months]="3"
          [package_price]="'120'" [theme_number]="3" [with_button]="true">
        </package-card>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
