.bg-section {
    background: url(../../../assets/images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.hero-img{
  position: absolute;
  background: url(../../../assets/images/bodybuilder.png) no-repeat 0px 0px;
  height: 750px;
  width: 900px;
  background-size: cover;
  display: block;
  content: '';
  z-index: 5;
  bottom:0px;
  left: 0px;
}
