<section class="bg-section">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row" id="place_bottom">
            <div class="col-6">
                <div class="hero-img"></div>
            </div>
            <div class="col-6 slogan">
                <img src="../../../assets/images/slogan.svg" alt="">
                <h1>أهلاً محمد</h1>
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <h1 class="section_title">من نحن</h1>
    <h1 class="section_subtitle">فهد العمودي</h1>
    <div class="section_content">
      <img class="about_image" src="../../../assets/images/muscular-man-lifting-barbell-gym.png" alt="">
      <div class="about_us">
        <ol>
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ol>
      </div>
    </div>
</section>

<section class="about-section">
    <h1 class="section_title">ماذا نقدم</h1>
    <h1 class="section_subtitle">الخدمات</h1>
    <div class="section_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="service_item">
                        <div class="service_image">
                            <img src="../../../assets/images/diet_plans_service.svg" alt="">
                        </div>
                        <div class="service_title">البرامج الغذائية</div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="service_item">
                        <div class="service_image">
                            <img src="../../../assets/images/build_muscle_service.svg" alt="">
                        </div>
                        <div class="service_title">بناء العضلات</div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="service_item">
                        <div class="service_image">
                            <img src="../../../assets/images/periodic_review_service.svg" alt="">
                        </div>
                        <div class="service_title">المراجعة الدورية</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <h1 class="section_title">باقات الاشتراك</h1>
    <h1 class="section_subtitle">اختر الفئة المناسبة لك</h1>
    <div class="section_content">الفئات</div>
</section>

<app-footer></app-footer>
