<footer class="text-white">
    <div class="container-fluid py-3 w-lg-50 w-sm-100">
        <div class="row p-5">
            <div class="col-lg-4 col-12">
                <a class="footer_link" href="#">About us</a>
                <a class="footer_link" href="#">Contact</a>
                <a class="footer_link" href="#">Terms & Conditions</a>
            </div>

            <div class="col-lg-4 col-12">
                <a class="footer_link" href="#">
                    <img class="social_icon" src="../../../../assets/images/social_facebook.png" alt=""> Facebook
                </a>
                <a class="footer_link" href="#">
                    <img class="social_icon" src="../../../../assets/images/social_twitter.png" alt=""> Twitter
                </a>
                <a class="footer_link" href="#">
                    <img class="social_icon" src="../../../../assets/images/social_instagram.png" alt=""> Instagram
                </a>
            </div>

            <div class="col-lg-4 col-12">
                <a class="footer_link" href="#">المملكة العربية السعودية ، جدة</a>
                <a class="footer_link" href="#">+44 345 678 903</a>
                <a class="footer_link" href="#">fahad@mail.com</a>
            </div>
        </div>
    </div>
</footer>