footer {
    background: url(../../../../assets/images/footer_bg.png) 0px 0px;
}

.footer_link {
    color: white;
    width: 80%;
    display: block;
    text-decoration: none;
    text-align: left;
    margin: 0 auto;
}

.w-lg-50{
  width: 50%;
}

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
.w-sm-100{
width: 100%;
}
}
