<section class="content">
  <header class="page-header">
    <h1 class="title">
      {{'WORKSOUT.table' | translate}}
    </h1>
    <span>

      <button class="mx-2" mat-raised-button color="primary"
        (click)="dialogSrv.openWorkoutTypeDialog()">{{'WORKSOUT.add' |
        translate}}</button>
    </span>
  </header>
  <loader title="{{'WORKSOUT.loading' | translate}}" *ngIf="workoutSrv.isLoading" [hasError]="workoutSrv.hasError">
  </loader>
  <div class="body scroll" *ngIf="!workoutSrv.isLoading">
    <table class="table-theme-1 hover">
      <thead class="text-center">
        <tr>
          <th>#</th>
          <th>{{'WORKSOUT.type_ar' | translate}}</th>
          <th>{{'WORKSOUT.number' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <ng-container *ngFor="let workout of workoutSrv.categories; let i = index">
          <tr class="row_space">
            <td colspan="30"></td>
          </tr>
          <tr (click)="showExercise(workout)">
            <td>{{i + 1 }}</td>
            <td>{{lang.selected == 'ar'?workout.name_ar: workout.name}}</td>
            <td>
              <!-- {{workout.exercises.length}} -->
              {{exerciseSrv.getExerciseListOnSameCategory(workout.name_ar).length}}
            </td>
            <td class="text-end">
              <span>
                <button mat-icon-button
                  (click)="dialogSrv.openWorkoutTypeDialog('edit', workout); $event.stopPropagation()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="showExercise(workout)">
                  <mat-icon>arrow_back_ios</mat-icon>
                </button>

              </span>
            </td>
          </tr>
        </ng-container>
        <tr class="no_data" *ngIf="workoutSrv.categories.length == 0">
          <td colspan="30">
            {{'WORKSOUT.no-data' | translate}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
