<div class="package_card package_theme_1">
<div class="package_card_header">
  <a href="" class="package_edit_link">...</a>
  <p>باقة الصيف</p>
</div>
<div class="package_body">
<div class="package_feature">
  <p class="package_feature_title">المدة</p>
  <p class="package_feature_value">6 أشهر</p>
</div>

<div class="package_feature">
  <p class="package_feature_title">السعر</p>
  <p class="package_feature_value">4000 ريال</p>
</div>
<div class="package_join_button">
  <a href="h">انضمام</a>
</div>
</div>
</div>
