<section class="form_wrapper mb-2 scroll py-3 register_card">
  <div class="h5 section-title text-center">{{'SUBSCRIBERS.personal-subscriber-info' | translate}}</div>
  <div class="px-4 " [formGroup]="personalInfoForm">
    <div class="row">

      <div class="  form-group col-12">
        <label class="">{{'PERSONAL-DATA.birthday' | translate}} <span class="text-danger">*</span></label>
        <input formControlName="birthDate" class="form-control" (click)="birthDate()">
      </div>
    </div>

    <div class="row form-group">
      <label for="">{{'PERSONAL-DATA.social-status' | translate}} <span class="text-danger">*</span></label>
      <div class="col-12">
        <select formControlName="social_status" class="form-control ">
          <!-- <option value="married">{{'PERSONAL-DATA.married' | translate}}</option>
          <option value="single">{{'PERSONAL-DATA.single' | translate}}</option> -->
          <!-- <option [value]="s.id" *ngFor="let s of subSrv.soucialStatueList">{{'SOCIAL-STATUS.'+s.social_status_name | translate}}</option> -->
          <option [value]="s.id" *ngFor="let s of subSrv.soucialStatueList">{{'SOCIAL-STATUS.'+s.social_status_name |
            translate}}</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="form-group col-5 col-md-4" [class.has_error]="controls.height.invalid && controls.height.dirty">
        <label>{{'PERSONAL-DATA.height'| translate}} <span class="label_hint">cm </span> <span
            class="text-danger">*</span></label>
        <input class="form-control" formControlName="height">
        <div class="hint" *ngIf="controls.height.invalid && controls.height.dirty">
          <span *ngIf="controls.height.errors && controls.height.errors.required">
            {{'VALIDATION.fill' | translate}} {{'PERSONAL-DATA.height'| translate}}
          </span>
          <span *ngIf="controls.height.errors && controls.height.errors.pattern">
            {{'VALIDATION.amount-3' | translate}} {{'VALIDATION.amount-ex3' | translate}}
          </span>
        </div>
      </div>
      <div class="form-group col-5 col-md-4" [class.has_error]="controls.weight.invalid && controls.weight.dirty">
        <label>{{'PERSONAL-DATA.wight'| translate}} <span class="label_hint">kg </span> <span
            class="text-danger">*</span></label>
        <input class="form-control" formControlName="weight" inputmode="numeric" maxlength="5">
        <div class="hint" *ngIf="controls.weight.invalid && controls.weight.dirty">
          <span *ngIf="controls.weight.errors && controls.weight.errors.required">
            {{'VALIDATION.fill' | translate}} {{'PERSONAL-DATA.wight'| translate}}
          </span>
          <span *ngIf="controls.weight.errors && controls.weight.errors.pattern">
            {{'VALIDATION.amount-3' | translate}} {{'VALIDATION.amount-ex3' | translate}}
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-between form-group">
      <label>{{'PERSONAL-DATA.gender' | translate}} <span class="text-danger">*</span></label>
      <div class="col-5 col-md-4" *ngFor="let g of subSrv.genderList">
        <button mat-stroked-button class="w-100" [class.selected]="personalInfoForm.get('gender')?.value == g.id"
          (click)="personalInfoForm.get('gender')?.setValue(g.id)">
          {{'FORM.'+g.gender_name | translate}}
        </button>
      </div>
      <!-- <div class=" col-5 col-md-4">
        <button mat-stroked-button class=" w-100" [class.selected]="personalInfoForm.get('gender')?.value == 'female'"
          (click)="personalInfoForm.get('gender')?.setValue('female')">
          {{'PERSONAL-DATA.female' | translate}}
        </button>
      </div> -->
    </div>
    <div class="row form-group">
      <label>{{'PERSONAL-DATA.city' | translate}} <span class="text-danger">*</span></label>
      <div class="col-12">
        <select formControlName="city" class="form-control">
          <option *ngFor="let city of cities;" [value]="city.city_id">{{lang.dir == 'rtl' ? city.name_ar :
            city.name_en}}
          </option>
        </select>
      </div>

    </div>
  </div>
</section>
