.category-card {
  width: 100%;
  background-color: white;
  border: solid 1px #eff1f8;
  max-width: 425px;
  border-radius: 0.25em;
  padding: 10px 20px;
}
.category-body {
  font-size: 13px;
}
.category-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.8rem;
  font-size: 11px;
  //   border-bottom: 1px solid #eff1f8;
}

.category-header .title {
  color: #1d4980;
  font-weight: bolder;
  font-size: 25px;
}

.organic-compound {
  text-align: center;
  border-top: 1px solid #eff1f8;
  padding-top: 20px;
}

.organic-compound .title {
  text-align: center;
  color: #1d4980;
}
.organic-compound .compound-header {
  margin-top: 10px;
  background-color: #eff1f8;
  padding: 0 5px;
  border-radius: 0.25em;
  color: #1e1e1e;
  text-align: center;
}

.organic-compound .compound-body {
  color: #1d4980;
  padding: 0 5px 20px;
  text-align: center;
}
