<h4 class="text-center section-title  h4">{{'FORM.reset-password' | translate}}</h4>
<div class="register_form">
  <div class="row" [formGroup]="resetPasswordForm">
    <div class="form-group password col-12"
      [class.has_error]="resetPasswordForm.get('current_password').invalid && resetPasswordForm.get('current_password')?.dirty">
      <label> {{'FORM.password' | translate}}</label>
      <input class="form-control" [type]="hidePassword ? 'password': 'text'" formControlName="current_password"
        placeholder="*************">
      <button mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
      <div class="hint"
        *ngIf="resetPasswordForm.get('current_password').errors&&resetPasswordForm.get('current_password')?.dirty">
        <span *ngIf="resetPasswordForm.get('current_password').errors.required">{{'VALIDATION.password.required' |
          translate}}</span>
      </div>
    </div>
    <div class="form-group password col-12"
      [class.has_error]="resetPasswordForm.get('new_password').invalid && resetPasswordForm.get('new_password')?.dirty  ">
      <label> {{'FORM.password' | translate}}</label>
      <input class="form-control" [type]="hidePassword ? 'password': 'text'" formControlName="new_password"
        placeholder="*************">
      <button mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
      <div class="hint"
        *ngIf="resetPasswordForm.get('new_password').errors&&resetPasswordForm.get('new_password')?.dirty">
        <span *ngIf="resetPasswordForm.get('new_password').errors.required">{{'VALIDATION.password.required' |
          translate}}</span>
      </div>
    </div>
    <div class="form-group password col-12"
      [class.has_error]="resetPasswordForm.get('re_new_password').invalid && resetPasswordForm.get('re_new_password')?.dirty  ">
      <label> {{'FORM.password' | translate}}</label>
      <input class="form-control" [type]="hidePassword ? 'password': 'text'" formControlName="re_new_password"
        placeholder="*************">
      <button mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
      <div class="hint"
        *ngIf="resetPasswordForm.get('re_new_password').errors&&resetPasswordForm.get('re_new_password')?.dirty">
        <span *ngIf="resetPasswordForm.get('re_new_password').errors.required">{{'VALIDATION.password.required' |
          translate}}</span>
        <span
          *ngIf="resetPasswordForm.get('re_new_password').errors.confirmPasswordValidator == true ">{{'VALIDATION.password.not-match'
          |
          translate}}</span>
      </div>
    </div>
  </div>
  <div class="d-flex justity-content-center mt-5 mb-3">
    <button mat-raised-button color="primary" class="btn-lg m-auto" [disabled]="emailControl.invalid"
      (click)="resetPassword()">{{'FORM.send' |
      translate}}</button>
  </div>
  <div class="d-flex justity-content-center  mb-3">
    <button mat-button color="primary" class=" m-auto" routerLink="/register/login">{{'FORM.login' |
      translate}}</button>
  </div>
</div>
<!-- <button class="bg-dark text-light mx-5" mat-raised-button routerLink="/home">{{'FORM.cancel' | translate}}</button> -->
