<h4 class="text-center section-title  h4">{{'FORM.reset-password' | translate}}</h4>
<div [formGroup]="resetPassword" class="register_form">
  <div class="row justify-content-between align-items-end">
    <div class="form-group col-7 col-sm-9"
      [class.has_error]="resetPasswordControl.controls.phoneNumber.invalid && resetPasswordControl.controls.phoneNumber.touched">
      <label for="input">{{'FORM.phone-mobile' | translate}}</label>
      <input name="input" type="tel" maxlength="9" class="form-control" formControlName="phoneNumber"
        placeholder="5XX-XXX-XX">
      <div class="hint">
        {{(
        resetPasswordControl.controls.phoneNumber.errors&&resetPasswordControl.controls.phoneNumber.touched ?
        resetPasswordControl.controls.phoneNumber.errors.required ? 'VALIDATION.password.required':
        '' : '')
        | translate }}
      </div>
    </div>
    <div class="form-group col-5 col-sm-3"
      [class.has_error]="resetPasswordControl.controls.countryCode.invalid && resetPasswordControl.controls.countryCode.touched">
      <select class="form-control t" formControlName="countryCode">
        <option *ngFor="let code of countriesCode" [value]="code.phone_code" placeholder="966+"> {{code.phone_code}}+
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group password col-12"
      [class.has_error]="resetPasswordControl.controls.password.invalid && resetPasswordControl.controls.password.touched  ">
      <label> {{'FORM.password' | translate}}</label>
      <input class="form-control" [type]="hidePassword ? 'password': 'text'" formControlName="password"
        placeholder="*************">
      <button mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
      <div class="hint">
        {{(
        resetPasswordControl.controls.password.errors&&resetPasswordControl.controls.password.touched ?
        resetPasswordControl.controls.password.errors.required ? 'VALIDATION.password.required':
        '' : '')
        | translate }}
      </div>
    </div>
    <div class="form-group password col-12"
      [class.has_error]="resetPasswordControl.controls.confirmPassword.invalid && resetPasswordControl.controls.confirmPassword.touched ">
      <label> {{'FORM.confirm-password' | translate}}</label>
      <input class="form-control" [type]="hidePassword ? 'password': 'text'" formControlName="confirmPassword"
        placeholder="*************" (change)="test()">
      <button mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
      <div class="hint">
        {{(
        resetPasswordControl.controls.confirmPassword.errors&&resetPasswordControl.controls.password.touched ?
        resetPasswordControl.controls.confirmPassword.errors.required ? 'VALIDATION.password.required':
        resetPasswordControl.controls.confirmPassword.errors.confirmPasswordValidator == true ?
        'VALIDATION.password.not-match'
        : '' : '')
        | translate }}
      </div>
    </div>
  </div>
  <div class="d-flex justity-content-center mt-5 mb-3">
    <button mat-raised-button color="primary" class="btn-lg m-auto">{{'FORM.reset' | translate}}</button>
  </div>
  <div class="d-flex justity-content-center  mb-3">
    <button mat-button color="primary" class=" m-auto" routerLink="/register/login">{{'FORM.login' |
      translate}}</button>
  </div>
</div>
<button class="bg-dark text-light mx-5" mat-raised-button routerLink="/home">{{'FORM.cancel' | translate}}</button>
