<h1 mat-dialog-title class="dialog-title"> {{'FORM.reset-password' | translate}}</h1>
<div mat-dialog-content>
  <div class="row" [formGroup]="resetPasswordForm">
    <div class="form-group password col-12"
      [class.has_error]="resetPasswordForm.get('current_password').invalid && resetPasswordForm.get('current_password')?.dirty  ">
      <label> {{'FORM.password' | translate}}</label>
      <input class="form-control" [type]="hidePassword ? 'password': 'text'" formControlName="current_password"
        placeholder="*************">
      <button mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
      <div class="hint"
        *ngIf="resetPasswordForm.get('current_password').errors&&resetPasswordForm.get('current_password')?.dirty">
        <span *ngIf="resetPasswordForm.get('current_password').errors.required">{{'VALIDATION.password.required' |
          translate}}</span>
      </div>
    </div>
    <div class="form-group password col-12"
      [class.has_error]="resetPasswordForm.get('new_password').invalid && resetPasswordForm.get('new_password')?.dirty  ">
      <label> {{'FORM.password' | translate}}</label>
      <input class="form-control" [type]="hidePassword ? 'password': 'text'" formControlName="new_password"
        placeholder="*************">
      <button mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
      <div class="hint"
        *ngIf="resetPasswordForm.get('new_password').errors&&resetPasswordForm.get('new_password')?.dirty">
        <span *ngIf="resetPasswordForm.get('new_password').errors.required">{{'VALIDATION.password.required' |
          translate}}</span>
      </div>
    </div>
    <div class="form-group password col-12"
      [class.has_error]="resetPasswordForm.get('re_new_password').invalid && resetPasswordForm.get('re_new_password')?.dirty  ">
      <label> {{'FORM.password' | translate}}</label>
      <input class="form-control" [type]="hidePassword ? 'password': 'text'" formControlName="re_new_password"
        placeholder="*************">
      <button mat-icon-button (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
      <div class="hint"
        *ngIf="resetPasswordForm.get('re_new_password').errors&&resetPasswordForm.get('re_new_password')?.dirty">
        <span *ngIf="resetPasswordForm.get('re_new_password').errors.required">{{'VALIDATION.password.required' |
          translate}}</span>
        <span
          *ngIf="resetPasswordForm.get('re_new_password').errors.confirmPasswordValidator == true ">{{'VALIDATION.password.not-match'
          |
          translate}}</span>
      </div>
    </div>
  </div>
  <div class="button-group">
    <button mat-raised-button color="primary" (click)="action()"> {{'FORM.change-password' | translate}} </button>
    <button mat-stroked-button color="primary" (click)="onNoClick()"> {{'FORM.cancel' | translate}} </button>
  </div>
</div>
