<h1 mat-dialog-title class="dialog-title text-center"> {{'BODY.body-take-pic' | translate}}</h1>
<div mat-dialog-content class="">

  <div class="row ">
    <div class="col-6 text-center">
      <span class="label">{{'BODY.front' | translate}}</span>
      <img src="../../../../../../assets/icons/body/tipe_fornt.png" class="body_pic">
    </div>
    <div class="col-6 text-center">
      <span class="label">{{'BODY.back' | translate}}</span>
      <img src="../../../../../../assets/icons/body/tipe_back.png" class="body_pic">
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <span class="label">{{'BODY.right' | translate}}</span>
      <img src="../../../../../../assets/icons/body/tipe_right.png" class="body_pic">
    </div>
    <div class="col-6 text-center">
      <span class="label">{{'BODY.left' | translate}}</span>
      <img src="../../../../../../assets/icons/body/tipe_left.png" class="body_pic">
    </div>
  </div>
  <div class="button-group">
    <button mat-raised-button color="primary" (click)="onNoClick()"> {{'FORM.return' | translate}} </button>
  </div>
</div>
