<section class="content pt-0">
  <header class="page-header">
    <h1 class="title">
      {{'SUBSCRIBERS.info-s' | translate}}
    </h1>
  </header>
  <div class="mt-4">
    <table class="table-theme-1 hover">
      <thead>
        <th>{{'SUBSCRIBERS.subscription-number' | translate}}</th>
        <th>{{'SUBSCRIBERS.start-date' | translate}}</th>
        <th>{{'SUBSCRIBERS.end-date' | translate}}</th>
        <th>{{'SUBSCRIBERS.amount-paid' | translate}}</th>
        <th>{{'SUBSCRIBERS.status' | translate}}</th>
      </thead>
      <tbody>
        <tr class="no_data" *ngIf="isEmpty()">
          <td colspan="5">
            {{'PACKAGES.no-data' | translate}}
          </td>
        </tr>
        <ng-container *ngIf="!isEmpty()">
          <tr class="row_space">
            <td colspan="5"></td>
          </tr>
          <tr>
            <td>{{sub.id }}</td>

            <td>
              <span *ngIf="sub.start_date != 'N/A'">
                {{sub.start_date | date }}
              </span>
              <span *ngIf="sub.start_date == 'N/A'">
                {{'FORM.null' | translate}}
              </span>
            </td>
            <td>
              <span *ngIf="sub.end_date != 'N/A'">
                {{sub.end_date | date }}
              </span>
              <span *ngIf="sub.end_date == 'N/A'">
                {{'FORM.null' | translate}}
              </span>
            </td>
            <td>{{sub.price | number:'1.2-2' }}</td>

            <td class="{{sub.status}}">{{'STATUS.'+sub.status | translate }}</td>

        </ng-container>
      </tbody>
    </table>
  </div>
</section>
