<div class="package_card package_theme_{{theme_number}}">
<div class="package_card_header">
  <a href="" class="package_edit_link">...</a>
  <p>{{package_title}}</p>
</div>
<div class="package_body">
<div class="package_feature">
  <p class="package_feature_title">المدة</p>
  <p class="package_feature_value">{{package_months}} اشهر</p>
</div>

<div class="package_feature">
  <p class="package_feature_title">السعر</p>
  <p class="package_feature_value">{{package_price}} ريال</p>
</div>
<div class="package_join_button">
  <a href="h" class="{{class_button}}">انضمام</a>
</div>
</div>
</div>
