<!-- Profile Info -->
<div class="info_item">
    <div class="row">
        <div class="col-2">
            <div class="info_img">
                <img style="width: 20px;" src="{{info_item_img}}" alt="">
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="info_title">
                    {{info_item_title}}
                </div>
                <div class="info_value">
                    {{info_item_value}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Profile Info End -->