<section class="content">
  <header class="page-header">
    <h1 class="title">
      {{'ORDERS.info' | translate}}
    </h1>
    <span style="align-items: inherit; display: flex;" routerLink="../../">
      <button mat-button>
        {{'FORM.back' | translate}}
        <mat-icon color="primary" class="mx-2">arrow_back</mat-icon>
      </button>
    </span>
  </header>
  <header class="nitro-card row mt-3">
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.name' | translate}}" [info_item_value]="'محمد شلبي'">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.start-date' | translate}}" [info_item_value]="'محمد شلبي'">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.end-date' | translate}}" [info_item_value]="'محمد شلبي'">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.amount-paid' | translate}}" [info_item_value]="'محمد شلبي'">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.subscription-number' | translate}}"
      [info_item_value]="'محمد شلبي'">
    </info-item>
    <info-item class="col" info_item_title="{{'SUBSCRIBERS.status' | translate}}" [info_item_value]="'محمد شلبي'">
    </info-item>
  </header>
  <div class="body scroll">

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title color="primary">
            {{'PERSONAL-DATA.personal-data' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <personal-data [info]="info.personalData" class="mt-3"></personal-data>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title color="primary">
            {{'SUBSCRIBERS.joint-sports-health' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <sports-health-suber-info [info]="info.subscriber"></sports-health-suber-info>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'BODY.body-measurements-info' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="text-center mb-4">
          <div class="label-2">{{'BODY.take-the-examination' | translate}}</div>
          <div class="detail-2">{{'BODY.traditional' | translate}}</div>
        </div>
        <body-measurements [info]="info.bodyMeasurements"></body-measurements>
        <div class="">
          <div class="label">{{'BODY.weight' | translate}}</div>
          <div class="detail">
            {{info.bodyMeasurements.weight}}
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'BODY.pic' | translate}}
          </mat-panel-title>

        </mat-expansion-panel-header>

        <body-pic-info>

        </body-pic-info>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
