<div class="row juisty-content-between">
  <div class="col-4"></div>
  <div class="text-center mb-4 col-4">
    <div class="label-2">{{'BODY.take-the-examination' | translate}}</div>
    <div class="detail-2">{{'BODY.traditional' | translate}}</div>
  </div>
  <div class="col-4" *ngIf="changeValue && action">
    <button mat-button (click)="changeValue = false">{{'FORM.cancel' | translate}}</button>
    <button mat-raised-button color="primary" (click)="saveChange(); changeValue = false">{{'FORM.save' |
      translate}}</button>
    <button mat-stroked-button color="primary">{{'FORM.current-info' | translate}}</button>
  </div>
  <div class="col-4" *ngIf="!changeValue && action">
    <button mat-stroked-button color="primary" (click)="changeValue = true">{{'FORM.edit-info' | translate}}</button>
    <button mat-stroked-button color="primary">{{'FORM.old-info' | translate}}</button>
  </div>
</div>
<div class="row justify-content-between">

  <div class="body-m col col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[0] | translate}}</label>
      <div *ngIf="!changeValue">{{info.chest_circumrefence}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.chest_circumrefence" class="body_input"></div>
    </div>
    <img class="body_img" src="../../../../assets/icons/body/upper_chest_img.svg">
  </div>

  <div class="body-m col col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[1] | translate}}</label>
      <div *ngIf="!changeValue">{{info.lower_chest}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.lower_chest" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/lower_chest_img.svg">
  </div>

  <div class="body-m col col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[2] | translate}}</label>
      <div *ngIf="!changeValue">{{info.waist}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.waist" class="body_input"></div>
    </div>
    <img class="body_img" src="../../../../assets/icons/body/hips_img.svg">
  </div>

  <div class="body-m col col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[3] | translate}}</label>
      <div *ngIf="!changeValue">{{info.belly}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.belly" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/abs_img.svg">
  </div>

  <div class="body-m col col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[4] | translate}}</label>
      <div *ngIf="!changeValue">{{info.thigh}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.thigh" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/quadriceps_img.svg">
  </div>

  <div class="body-m col col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[5] | translate}}</label>
      <div *ngIf="!changeValue">{{info.buttocks}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.buttocks" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/hamstrings_img.svg">
  </div>

  <div class="body-m col col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[6] | translate}}</label>
      <div *ngIf="!changeValue">{{info.calf}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.calf" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/calves_img.svg">

  </div>

  <div class="body-m col col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[7] | translate}}</label>
      <div *ngIf="!changeValue">{{info.humerus}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.humerus" class="body_input"></div>
    </div>
    <img class="body_img" src="../../../../assets/icons/body/biceps_img.svg">
  </div>
  <div class="col-12">
    <div class="label">{{'BODY.weight' | translate}}</div>
    <div class="detail">
      <div *ngIf="!changeValue">{{info.weight}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.weight" class="body_input"></div>
    </div>
  </div>
</div>
