.body-m {
  display: inline-block;
}

.title_and_value {
  margin-bottom: -10px;
  font-size: 18px;
  color: #1d4980;
  font-weight: bold;
}
.title_and_value div {
  font-size: 85%;
}

.body_img {
  margin-left: 30px;
  margin-right: unset;
}
