<div class="row juisty-content-between">
  <div class="col-4"></div>
  <div class="text-center mb-4 col-4">
    <div class="label-2">{{'BODY.take-the-examination' | translate}}</div>
    <div class="detail-2">{{'BODY.traditional' | translate}}</div>
  </div>
  <div class="col-4" *ngIf="changeValue && action">
    <button mat-button (click)="changeValue = false">{{'FORM.cancel' | translate}}</button>
    <button mat-raised-button color="primary" (click)="saveChange(); changeValue = false">{{'FORM.save' |
      translate}}</button>
    <button mat-stroked-button color="primary">{{'FORM.current-info' | translate}}</button>
  </div>
  <div class="col-4" *ngIf="!changeValue && action">
    <button mat-stroked-button color="primary" (click)="changeValue = true">{{'FORM.edit-info' | translate}}</button>
    <button mat-stroked-button color="primary">{{'FORM.old-info' | translate}}</button>
  </div>
</div>
<div class="row justify-content-between">

  <div class="body-m col-6 col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[0] | translate}}</label>
      <div *ngIf="!changeValue">{{info.upperChest}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.upperChest" class="body_input"></div>
    </div>
    <img class="body_img" src="../../../../assets/icons/body/upper_chest_img.svg">
  </div>

  <div class="body-m col-6 col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[1] | translate}}</label>
      <div *ngIf="!changeValue">{{info.lowerChest}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.lowerChest" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/lower_chest_img.svg">
  </div>

  <div class="body-m col-6 col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[2] | translate}}</label>
      <div *ngIf="!changeValue">{{info.hips}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.hips" class="body_input"></div>
    </div>
    <img class="body_img" src="../../../../assets/icons/body/hips_img.svg">
  </div>

  <div class="body-m col-6 col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[3] | translate}}</label>
      <div *ngIf="!changeValue">{{info.abs}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.abs" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/abs_img.svg">
  </div>

  <div class="body-m col-6 col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[4] | translate}}</label>
      <div *ngIf="!changeValue">{{info.quadriceps}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.quadriceps" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/quadriceps_img.svg">
  </div>

  <div class="body-m col-6 col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[5] | translate}}</label>
      <div *ngIf="!changeValue">{{info.hamstrings}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.hamstrings" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/hamstrings_img.svg">
  </div>

  <div class="body-m col-6 col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[6] | translate}}</label>
      <div *ngIf="!changeValue">{{info.calves}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.calves" class="body_input"></div>

    </div>
    <img class="body_img" src="../../../../assets/icons/body/calves_img.svg">

  </div>

  <div class="body-m col-6 col-md-4 col-lg-3">
    <div class="title_and_value">
      <label class="">{{'BODY.'+labelBody[7] | translate}}</label>
      <div *ngIf="!changeValue">{{info.biceps}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.biceps" class="body_input"></div>
    </div>
    <img class="body_img" src="../../../../assets/icons/body/biceps_img.svg">
  </div>
  <div class="col-12">
    <div class="label">{{'BODY.weight' | translate}}</div>
    <div class="detail">
      <div *ngIf="!changeValue">{{info.weight}}</div>
      <div *ngIf="changeValue"><input type="tel" [(ngModel)]="newValue.weight" class="body_input"></div>
    </div>
  </div>
</div>
