<div class="container">
    <div class="row">
        <div class="col-4">
            <package-card [package_title]="'باقة الصيف'" [package_months]=6 [package_price]=2000 [theme_number]=1
                [with_button]=false></package-card>
        </div>
        <div class="col-4">
            <package-card [package_title]="'باقة الطلاب'" [package_months]=6 [package_price]=2000 [theme_number]=2
                [with_button]=true></package-card>
        </div>
        <div class="col-4">
            <package-card [package_title]="'باقة التضخيم'" [package_months]=6 [package_price]=4000 [theme_number]=3
                [with_button]=false></package-card>
        </div>
    </div>
    <!-- Table -->
    <style>
        .table-theme-1 {
            border-spacing: 0 1em;
        }

        .table-theme-1 th {
            border-collapse: collapse;
            background-color: #1D4980;
            color: #FFFFFF;
            height: 30px;
        }

        .table-theme-1 td {
            border-collapse: collapse;
            background-color: transparent;
            color: #1D4980;
            height: 30px;
        }

        .table-theme-1 tr {
            background-color: #FFFFFF;
            transition: 0.4s;
        }

        .table-theme-1 tr:hover {
            cursor: pointer;
            transition: 0.4s;
        }

        .table-theme-1 tr:hover~.table-theme-1 td {
            background-color: red !important;
        }

        .table-theme-1 td {
            border-top: solid #E2E2E3 1px;
            border-bottom: solid #E2E2E3 1px;
        }

        .table-theme-1 td:first-child {
            border-inline-start: solid #E2E2E3 1px;
        }

        .table-theme-1 td:last-child {
            border-inline-end: solid #E2E2E3 1px;
        }

        .table-theme-1 th {
            margin-bottom: 10px !important;
            margin-top: 10px !important;
        }

        .table-theme-2 {
            border-collapse: collapse;
            background-color: #E2E2E3;
            color: #313438;
            height: 30px;
        }

        a.table_row_link {
            display: table-cell;
            width: 100%;
        }
    </style>
    <!-- NOTE, There is a script i've used to add a link to the TR, in JS, in My Projects, Look for it -->
    <p class="text-danger">You clicked on: <strong>{{ message }}</strong></p>
    <table datatable [dtOptions]="dtOptions" class="table-theme-1 hover">
        <thead>
            <tr routerLink="/dashboard/base">
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="/dashboard/base">
                <td>1</td>
                <td>Foo</td>
                <td>Bar</td>
            </tr>
            <tr routerLink="/dashboard/base">
                <td>2</td>
                <td>Someone</td>
                <td>Youknow</td>
            </tr>
            <tr routerLink="/dashboard/base">
                <td>3</td>
                <td>Iamout</td>
                <td>Ofinspiration</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>4</td>
                <td>Yoda</td>
                <td>Skywalker</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>5</td>
                <td>Patrick</td>
                <td>Dupont</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>6</td>
                <td>Barack</td>
                <td>Obama</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>7</td>
                <td>François</td>
                <td>Holland</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>8</td>
                <td>Michel</td>
                <td>Popo</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>9</td>
                <td>Chuck</td>
                <td>Norris</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>10</td>
                <td>Simon</td>
                <td>Robin</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>11</td>
                <td>Louis</td>
                <td>Lin</td>

            </tr>
            <tr routerLink="/dashboard/base">
                <td>12</td>
                <td>Zelda</td>
                <td>Link</td>

            </tr>
        </tbody>
    </table>
    <!-- Table End -->

    <div class="row">
        <div class="col-3">
            <info-item [info_item_img]="'./assets/icons/profile/call.svg'" [info_item_title]="'الإسم'"
                [info_item_value]="'محمد شلبي'"></info-item>
        </div>
        <div class="col-3">
            <info-item [info_item_img]="'./assets/icons/profile/gender.svg'" [info_item_title]="'الإسم'"
                [info_item_value]="'محمد شلبي'"></info-item>
        </div>
        <div class="col-3">
            <info-item [info_item_img]="'./assets/icons/profile/health_issues_icon.svg'" [info_item_title]="'الإسم'"
                [info_item_value]="'محمد شلبي'"></info-item>
        </div>
        <div class="col-3">
            <info-item [info_item_img]="'./assets/icons/profile/height-limit_icon.svg'" [info_item_title]="'الإسم'"
                [info_item_value]="'محمد شلبي'"></info-item>
        </div>
    </div>
</div>