.body_img {
  margin: 10px auto !important;
  height: 25vh;
  width: auto;
}

.body_label {
  display: flex;
}

.body_number {
  font-size: 3em;
  line-height: 0.5;
  color: #1d4980;
  font-weight: 800;
}

.input_titls label {
  color: #1d4980;
  font-size: 1em;
  font-weight: 600;
}
.input_titls p {
  color: #adabac;
  font-size: 0.8em;
}
.register_slick_button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -31px;
  width: 95%;
  margin-left: -15px;
}

.register_form {
  position: relative;
}

.from-group {
  margin: 10px 0 30px !important;
}

.select_way {
  color: #adabac;
  margin: 10px 0 20px;
  font-size: 13px;
}

.underline {
  background-color: #d0d7f0;
  width: 100%;
}

.form_wrapper {
  max-height: 60vh !important;
  height: 100vh !important;
  overflow-x: hidden;
  overflow-y: auto;
}
.term {
  color: #adabac;
  font-size: 0.9em;
}

@media screen and (max-width: 578px) {
  .form_wrapper {
    max-height: 70vh !important;
    overflow-y: auto;
    .form-group label {
      font-size: 9.5px;
    }
  }
}
