@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/Helvetica-Neue-LT-Arabic-55-Roman.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica !important;
  font-weight: bold !important;
}

p,
label,
div,
span {
  font-family: Helvetica;
}
