/*
*/
.side-menu {
  position: fixed;
  width: 200px;
  background-color: var(--primray);
  top: 0;
  height: 100%;
  border-radius: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: auto;
}
.nitro-logo {
  width: 90px;
  height: auto;
  display: block;
  margin: 30px auto 0;
}
.main {
  background-color: #f9faff;
  height: 100%;
  position: relative;
}

.logo-underline {
  width: 95px;
  height: 0.15px;
  background-color: rgb(224, 224, 224);
  margin: 10px auto 0;
}

.menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main .items {
  width: 100%;
  padding: 10px;
  color: white;
  margin: 15px 0;
  text-decoration: none;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.main .items span {
  text-transform: capitalize;
  margin: 0 20px;
  font-size: 14px;
}
.main .items .icon {
  width: 20px;
  height: auto;
}
.main .items.active {
  color: var(--primray);
  background-color: white;
  text-decoration: none;
}

.dashboard {
  padding: 0 20px;
  width: calc(100% - 200px);
  margin-left: auto;
}

/*
*/

.label {
  text-transform: capitalize;
  font-size: 12px;
  color: var(--gray);
}
.detail {
  text-transform: capitalize;
  color: var(--primray);
  font-size: 16px;
}

/* dialog */
.mat-dialog-container {
  background-color: var(--gray-blue);
}
.dialog-title {
  color: var(--primray) !important;
  font-weight: bolder;
  font-size: larger;
  text-align: right;
}

/* dialog */

/*  fromgroup   */
.form-group label {
  color: var(--gray);
  font-size: 15px;
  margin-bottom: 5px;
}
.form-group .form-control {
  background-color: var(--white);
  border: 1px solid var(--gray-blue);
  height: 52px;
}

.button-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-group button {
  margin: 0 5px;
}
/*  fromgroup   */
