.rtl-active {
  text-align: right;
  direction: rtl;
  .dashboard {
    margin: unset;
    margin-right: auto;
  }
  ngx-material-timepicker {
    direction: ltr;
  }
  .side-menu {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .main .items {
    border-radius: 0;
    padding: 10px 15px 10px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .mat-form-field,
  mat-form-field {
    text-align: right;
    direction: ltr;
  }
  .dialog-title,
  .form-group .form-control,
  .row {
    text-align: right;
  }
  .button-group,
  .row {
    direction: rtl;
  }
  .mat-checkbox-inner-container {
    margin: unset;
    margin-left: 8px;
  }
  .text-end {
    text-align: left !important;
  }
  .text-start {
    text-align: right !important;
  }
  .body_img {
    margin-right: 30px !important;
    margin-left: unset !important;
  }
  select.form-control {
    padding: 0.375rem 0.75rem 0.375rem 1.75rem;

    background: url("../assets/images/Group.svg") no-repeat left 0.75rem
      center/8px 10px white;
  }
  .form-group.password button {
    right: unset;
    left: 24px;
  }
  .register_slick_button {
    direction: rtl;
  }
  .body_label,
  .offcer_title {
    direction: rtl;
  }
  ol {
    direction: rtl;
    padding: 0;
    padding-right: 15px;
  }
  .nav_bar {
    direction: ltr;
  }
  div.body_table,
  div.header_table {
    border-left: none;
    border-right: #e2e2e3 solid 1px;
  }
  .last-child div.body_table,
  .last-child div.header_table {
    border-right: #e2e2e3 solid 1px;
    border-left: #e2e2e3 solid 1px;
  }
}
