<section class="profile">
  <app-navbar [isProfile]="true"></app-navbar>
  <loader title="{{'PERSONAL-DATA.loading' | translate}}" *ngIf="isLoading" [hasError]="hasError"></loader>
  <div *ngIf="!isLoading">
    <div class="content">
      <header class="page-header">
        <h1 class="title">
          {{'PERSONAL-DATA.personal-data' | translate}}
        </h1>
      </header>

      <div class="row g-0">
        <div class="col-md-4">
          <div class="header_table">
            {{'SETTINGS.name' | translate}}
          </div>
          <div class="body_table">
            {{ lang.selected == 'ar'? identitySrv.userData.first_name_ar : identitySrv.userData.first_name }}
            {{ lang.selected == 'ar'? identitySrv.userData.middle_name_ar : identitySrv.userData.middle_name }}
            {{ lang.selected == 'ar'? identitySrv.userData.last_name_ar : identitySrv.userData.last_name }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="header_table no_radius">
            {{'SETTINGS.email' | translate}}
          </div>
          <div class="body_table no_radius">
            {{identitySrv.userData.email}}
          </div>
        </div>
        <div class="col-md-4 last-child">
          <div class="header_table">
            {{'SETTINGS.phone-number' | translate}}
          </div>
          <div class="body_table">
            {{identitySrv.userData.phone_number}}
          </div>
        </div>
      </div>
    </div>
    <subscription-info [sub]="userData.subscription"></subscription-info>
    <!-- <package-info-table [pack]="pack"></package-info-table> -->
    <current-order-table [order]="userData.new_request"></current-order-table>
    <close-order-table [order]="userData.closed_requests"></close-order-table>
    <!-- <dietplan-section></dietplan-section> -->

  </div>
  <div class="button-group " *ngIf="isSubscriptionExist()">
    <button mat-raised-button color="primary" routerLink="/register/update_info">{{'FORM.update-profile' |
      translate}}</button>
    <button mat-stroked-button color="primary" routerLink="/register/join_program">{{'FORM.new-subscription' |
      translate}}</button>
  </div>
</section>
<app-footer></app-footer>
