<section class="content">
  <header class="page-header">
    <h1 class="title">
      {{'CATEGORIES.table' | translate}}
    </h1>
    <span>

      <button class="mx-2" mat-raised-button color="primary"
        (click)="dialogSrv.openCategoryTypeDialog()">{{'CATEGORIES.new-type'
        |
        translate}}</button>
    </span>
  </header>
  <loader title="{{'CATEGORIES.loading' | translate}}" *ngIf="categorySrv.isLoading" [hasError]="categorySrv.hasError">
  </loader>
  <div class="body " *ngIf="!categorySrv.isLoading">
    <table class="table-theme-1 hover">
      <thead class="text-center">
        <tr>
          <th>
            <tb-filter [data]="categorySrv.categories" mode="order" label="pos"></tb-filter>
            #
          </th>
          <th>
            <tb-filter [data]="categorySrv.categories" mode="order" label="{{lang.selected =='ar' ?'name_ar': 'name'}}">
            </tb-filter>
            {{'CATEGORIES.name-type-ar' | translate}}
          </th>
          <th>
            <tb-filter [data]="categorySrv.categories" mode="order" label="total_items"></tb-filter>
            {{'CATEGORIES.number' | translate}}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <ng-container *ngFor="let cat of categorySrv.categories; let i = index">
          <tr class="row_space">
            <td colspan="30"></td>
          </tr>
          <tr (click)="showCompunds(cat)">
            <td>{{ cat.pos }}</td>
            <td>{{lang.selected =='ar' ? cat.name_ar: cat.name}}</td>
            <td>{{cat.total_items}}</td>
            <td class="text-end">
              <span>
                <button mat-icon-button
                  (click)="dialogSrv.openCategoryTypeDialog('edit', cat); $event.stopPropagation()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="showCompunds(cat)">
                  <mat-icon>arrow_back_ios</mat-icon>
                </button>

              </span>
            </td>
          </tr>
        </ng-container>
        <tr class="no_data" *ngIf="categorySrv.categories.length == 0">
          <td colspan="30">
            {{'CATEGORIES.no-data' | translate}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
