<div class="row">
  <info-item class="col" [info_item_img]="'./assets/icons/profile/daily_effort_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.work-type' | translate}}" [info_item_value]="info.nature_of_daily_stress">
  </info-item>
  <info-item class="col" [info_item_img]="'./assets/icons/profile/health_issues_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.health-problem' | translate}}" [info_item_value]="info.health_problems">
  </info-item>
  <info-item class="col" [info_item_img]="'./assets/icons/profile/supplements_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.use-of-supplements' | translate}}" [info_item_value]="info.supplement_use">
  </info-item>
  <info-item class="col" [info_item_img]="'./assets/icons/profile/muscles_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.goal-of-programe' | translate}}" [info_item_value]="info.goal">
  </info-item>
</div>
<div class="row">
  <info-item class="col" [info_item_img]="'./assets/icons/profile/sleep_hours_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.sleeping-hours' | translate}}" [info_item_value]="info.sleep_hours">
  </info-item>
  <info-item class="col" [info_item_img]="'./assets/icons/profile/wakeup_time_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.wakeup-time' | translate}}" [info_item_value]="info.wakeup_time">
  </info-item>
  <info-item class="col" [info_item_img]="'./assets/icons/profile/sleep_time_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.bed-time' | translate}}" [info_item_value]="info.bed_time">
  </info-item>
  <info-item class="col" [info_item_img]="'./assets/icons/profile/apple.svg'"
    info_item_title="{{'SUBSCRIBERS.number-of-meals' | translate}}" [info_item_value]="info.number_of_meals">
  </info-item>
</div>
<div class="row">
  <info-item class="col col-md-6" [info_item_img]="'./assets/icons/profile/meals_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.current-program' | translate}}" [info_item_value]="info.current_diet_program">
  </info-item>
  <info-item class="col col-md-6" [info_item_img]="'./assets/icons/profile/unlike_fode_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.non-preferred-food' | translate}}" [info_item_value]="info.unfavorable_food">
  </info-item>
  <info-item class="col col-md-6" [info_item_img]="'./assets/icons/profile/allergy_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.allergenic-food' | translate}}" [info_item_value]="info.Allergens_food">
  </info-item>
  <info-item class="col col-md-6" [info_item_img]="'./assets/icons/profile/operations_icon.svg'"
    info_item_title="{{'SUBSCRIBERS.recent-operations' | translate}}" [info_item_value]="info.surgeries_history">
  </info-item>
</div>
