<div class="row">
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.work-type' | translate}}" [info_item_value]="info.workType">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.health-problem' | translate}}" [info_item_value]="info.healthProblem">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.use-of-supplements' | translate}}" [info_item_value]="info.useSupplements">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.goal-of-programe' | translate}}" [info_item_value]="info.goalOfProgeam">
    </info-item>
</div>
<div class="row">
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.sleeping-hours' | translate}}" [info_item_value]="info.sleepingHoures">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.wakeup-time' | translate}}" [info_item_value]="info.wakeupTime">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.bed-time' | translate}}" [info_item_value]="info.bedTime">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.number-of-meals' | translate}}" [info_item_value]="info.numberOfmeals">
    </info-item>
</div>
<div class="row">
    <info-item class="col col-md-6" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.current-program' | translate}}" [info_item_value]="info.currentProgram">
    </info-item>
    <info-item class="col col-md-6" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.non-preferred-food' | translate}}" [info_item_value]="info.nonPrefrredFood">
    </info-item>
    <info-item class="col col-md-6" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.allergenic-food' | translate}}" [info_item_value]="info.allergenicFood">
    </info-item>
    <info-item class="col col-md-6" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'SUBSCRIBERS.recent-operations' | translate}}" [info_item_value]="info.recentOperations">
    </info-item>
</div>