<div class="row">
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'PERSONAL-DATA.name' | translate}}" [info_item_value]="info.name">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'PERSONAL-DATA.contact-number' | translate}}" [info_item_value]="info.number">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'PERSONAL-DATA.birthday' | translate}}" info_item_value="{{ info.birthday | date}}">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'PERSONAL-DATA.social-status' | translate}}" [info_item_value]="info.socialStatus">
    </info-item>
</div>
<div class="row">
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'PERSONAL-DATA.gender' | translate}}" [info_item_value]="info.gender">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'PERSONAL-DATA.height' | translate}}" [info_item_value]="info.height">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'PERSONAL-DATA.wight' | translate}}" [info_item_value]="info.weight">
    </info-item>
    <info-item class="col" [info_item_img]="'./assets/icons/profile/call.svg'"
        info_item_title="{{'PERSONAL-DATA.city' | translate}}" [info_item_value]="info.city">
    </info-item>
</div>